# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv/
venv/
env/
ENV/

# Virtual environment
ml-api/venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
